{{#if posts.length}}
  <div class="row post-list">
    <h3>Your Posts:</h3>

    {{#each posts as |post|}}
      <div class="row card" style="width: 75rem;">
        <div class="card-body">
          <h2 class="card-title">
            <a href="/post/{{post.id}}">{{post.title}}</a></h2>
          <h6 class="card-subtitle mb-2 text-muted">Created on
            {{format_date post.date_created}}</h6>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger delete"
              data-id="{{post.id}}"
            >DELETE</button>
            <a href="/editpost/{{post.id}}"><button
                class="btn btn-sm btn-warning edit"
                data-id="{{post.id}}"
              >EDIT</button>
            </a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

<a href="/newpost">
  <button class="btn create btn-lg btn-block btn-success">Create a New Blog Post</button>
</a>

<script src="/js/dashboard.js"></script>