<div class="card" style="width: 75rem;">
  <div class="card-body">
    <h3 class="card-title">{{title}}</h3>
    <h6 class="card-subtitle mb-2 text-muted">Created by
      {{user.username}}
      on
      {{format_date date_created}}</h6>
    <p class="card-text">{{content}}</p>
  </div>
</div>

{{! add each to load all comments }}
{{#each comments as |comment|}}
  <div class="card" style="width: 75rem;">
    <div class="card-body">
      <p> {{comment.comment_text}}</p>
      <p class="text-right">-- {{comment.user.username}}</p>
    </div>
  </div>
{{/each}}

<div class="card" style="width: 75rem;">
  <div class="card-body">
    <h5 class="card-title">Comment</h5>
    <form id="comment-form">
      <div class="form-group">
        <label for="comment-text">Add your comments or thoughts below to
          continue to conversation:</label>
        <input
          type="text"
          class="form-control"
          id="comment-text"
          placeholder="Example input"
        />
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>

<script src="./js/comment.js"> </script>